.container{
    background-color: #ECF0F0;
    width: 100%;
    display: grid;
    grid-template-columns: 0.4fr 1.2fr 0.2fr;
    column-gap: 10px;
}

.first{
    margin-top: 80px;
    margin-left: 10px;
}


.p{
    border: 0.2px solid #DDDDDD;
    width: 298px;
    height: 48px;
    background-color: #FFFFFF;
    color: #222222;
}

.a{
    border: 0.2px solid #DDDDDD;
    color: #0066CC;
    background-color: #FFFFFF;
}

.film button{
    width: 142px;
    height: 37px;
    color: #FF1000;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin: 3px;
    font-size: 18px;
}

.film{
  margin-top: 20px;

}


.film button:hover{
    background-color: #FF1000;
    color: white;
}

.second{
    margin-top: 80px;
    margin-left: 10px;
}

.second h1{
    text-align: center;
    font-size: 28px;
    color: #222222;
}

.second .series{
    background-color: #FFFFFF;
    border: 0.2px solid #DDDDDD;
    /* height: 750px; */
}

.series ul{
    display: flex;
    justify-content: center;
}

li{
    list-style: none;
    padding: 12px;
    cursor: pointer;
   
}
.now:hover{
    line-height: 20px;
    border-bottom: 2px solid red;
}

.today:hover{
    line-height: 20px;
    border-bottom: 2px solid red;
}
a{    text-decoration: none;
    color: #222222;
}
.infos{
    width: 150px;
    background-color: #FFFFFF;
    margin-top: 20px;
    height: 200px;
    margin-right: 30px;
}

.infos button{
    width: 150px;
    height: 40px;
    border: none;
    border: 0.2px solid #DDDDDD;
    background-color: #FFFFFF;
    text-align: start;
    cursor: pointer;
    color: #0066CC;
    font-size: 18px;
}

.infos button:nth-child(2){
    color: #FF1000;
    border-bottom: 1px solid #FF1000;
}
.parentt{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}


.childd p{
    color: #0066CC;
}

.third{
    margin-top: 60px;
}


@media screen and (max-width:1037px){
    .third{
        display: none;
    }

    .second{
        width: 100%;
    }

    .second h1{
        text-align: center;
    }

    .first{
        display: none;
    }

    .container{
        display: grid;
        grid-template-columns:  1fr ;
        width: 90%;
        margin-left: 5%;

    }

    .second .series{
        margin-right: 30px;
    }
}